.filtro-casillas{
    margin-left: 1rem;
    /* padding: 0 1rem 1rem 1rem; */
    /* display: flex;
    flex-direction: column; */
    width: 30vw;
    min-width: 250px;
    max-width: 300px;
    /* align-content: flex-start; */
}

.productsContainer-titles {
    font-family: 'Times New Roman';
    text-transform: uppercase;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    /* display: inline-block; */
    color: #2C4545;
    position: relative;
}
.productsContainer-titles:before {
    content: '';
    position: absolute;
    bottom: -10px;
    width: 70%;
    left: 15%; 
    border-bottom: 1px solid var(--footer-text-active-color);
}

@media (min-width: 768px) {
    .productos-container{
        display: flex;
        position: relative;
    }

    .filtros{
        /* width: 35vw; */
        max-width: 300px;
        float: initial;
        background-color: white;
        position: absolute;
        top:0%;
        right: 0%;
        z-index: 101;
    }

    .productsContainer-titles:before {
        width: 130%;
        left: 0%; 
    }

}

/*  */
