.cartWidgetContainer {
    width: 2rem;
    /* min-width: 37px; */
}
.cartWidgetContainer{
    position: relative;
    background: url(../../img/iconos/cart-icon.png);
    background-size: contain;
    background-repeat: no-repeat;
    
}
@media (min-width: 992px) {
    .cartWidgetContainer{
        left: -10px;
    }
}
