:root {
    --icono-bg-color: #283333;
    --iconos-text-color: #283333;
    --iconos-text-active-color: #D5A322;
    --iconos-text-hover-color: whitesmoke;
}
/* Times New Roman font main text */

.iconosMainDiv{
    min-width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;  
    margin: 0.5rem; 
}
.imagenes{
    background-color: var(--icono-bg-color);
    height: 20vw;
    max-height: 100px;
    width: 20vw;
    max-width: 100px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.imagenes img{
    object-fit: contain;
    height: 80%;
    height: 80%;
    border-radius: 50%;
}
/* Montserrat font normal text */
.textos{
    color: var(--iconos-text-color);
    padding-top: 1.5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.textos h4 {
    font-family: 'Times New Roman', times, serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #2C4545;
}
.textos p {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #000000;
}
