:root {
    --contacto-bg-color: #283333;
    --contacto-text-color: #FFFFFF;
    --contacto-text-active-color: #D5A322;
    --contacto-text-hover-color: whitesmoke;
}
.main-contacto{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    background-image: url('../../img//iconos/fondoContacto.png');
    background-position: right center;
    background-repeat: no-repeat;
}

.img.col-12.col-md-4{
    background-color: #283333;
    filter: brightness(40%);
    object-fit: cover;
    /* max-height: 500px; */
}
.divAux.col-12.col-md-4{
    position: relative;
    width: 100%;

}
.contentAux{
    position: absolute;
    top: 5px;
    color: white;
    width: 100%;
}
.redes{
   /* color: var(--contacto-text-active-color); */
}
.redes p {
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #D5A322;
}
.redesIconos{
    display: flex;
}

.redesIconos a {
    color: #D5A322;

}
/* .redesIconos p i{
    height: 40px;
    width: 40px;
} */


@media (min-width: 760px) {
    .main-contacto{
        flex-direction: row;
    }
    .divAux.col-12.col-md-4{
        position: relative;
        width: 400px;
        background-color: pink;
    }
    .img.col-12.col-md-4{
        /* max-height: 150vh; */
        min-height: 550px;
        object-fit: cover;
        width: 100%;
    }
    .formulario-side-div{
        padding-left: 2rem
    }

     
}

