:root {
    --main-bg-color: #FFFFFF;
    --main-text-color: #000000;
    --main-text-active-color: #D5A322;
    --main-text-hover-color: whitesmoke;
}

d1{
    font-family: 'Unica One';
}
  
.navBar {
    min-width: 100%;
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar.navbar-expand-lg.navbar-light{
    min-width: 100%;
    display: flex;
}

.navbar-toggler:focus{
    outline: none;
    box-shadow: none;
}
.navbar-toggler:active{
    outline: none;
    box-shadow: none;
}
.navbar-toggler{
    outline: none;
    border: none;
}
button i {

}
.fa-solid .fa-bars {
    transition: transform .35s ease-in-out;
  }
  
  .animate.grow {
    transform: scale(1.5);
  }


i:active{
    background-color: pink;
    transform:rotateZ(360)

}
.logoContainer{
    padding: 13px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    padding: 0px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
li {
    list-style: none;
    padding: 0px 20px;
}

.link {
    text-decoration: none;
    color: inherit;
}

.link:hover{
    color: var(--main-text-active-color);
    font-weight:450;
}
    


.active {
    color: var(--main-text-active-color);
}