:root{
    --filtro-bg-color: #283333;
    --filtro-text-color: #FFFFFF;
    --filtro-text-active-color: #D5A322;
    --filtro-text-hover-color: whitesmoke;
}

.btn.filtro{
    /* margin: 1rem; */
    height: 34px;
    border: 1px solid var(--filtro-text-active-color);
    text-transform: uppercase;
    border-radius: initial;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #D5A322;
}
.btn.filtro i{
    padding-left: 1rem;
}
